# ====== Código de LeerTablasNIST ======

In [1]:
import numpy as np
import pandas as pd

In [2]:


# Cargar archivo
archivo = '/Users/admin/Documents/PYTHON_TESIS/NIST TABLAS/OxigenoNIST_ASD.csv'
df = pd.read_csv(archivo)

# Función para limpiar cada valor
def limpiar_valor(valor):
    if isinstance(valor, str):
        valor = valor.strip()
        if valor.startswith('="') and valor.endswith('"'):
            valor = valor[2:-1]
        elif valor.startswith('"') and valor.endswith('"'):
            valor = valor[1:-1]
        valor = valor.strip()
        try:
            return float(valor)
        except ValueError:
            return valor
    return valor

# Aplicar de forma moderna sin usar applymap (evita warning)
df = df.astype(str).apply(lambda col: col.map(limpiar_valor))

# Mostrar tipos y primeros datos
print("✅ Tipos de datos por columna:")
print(df.dtypes)

✅ Tipos de datos por columna:
element             object
sp_num              object
obs_wl_vac(nm)      object
unc_obs_wl          object
ritz_wl_vac(nm)     object
unc_ritz_wl         object
intens              object
Aki(s^-1)           object
fik                 object
S(a.u.)             object
Acc                 object
Ei(Ry)              object
Ek(Ry)              object
conf_i              object
term_i              object
J_i                 object
conf_k              object
term_k              object
J_k                 object
g_i                 object
g_k                 object
Type                object
tp_ref              object
line_ref            object
Unnamed: 24        float64
dtype: object

In [3]:
df_datos = df[['Aki(s^-1)','fik','S(a.u.)','Acc','Ei(Ry)','Ek(Ry)','conf_i','term_i','J_i','conf_k','term_k','J_k']]
df_datos.dtypes

Aki(s^-1)    object
fik          object
S(a.u.)      object
Acc          object
Ei(Ry)       object
Ek(Ry)       object
conf_i       object
term_i       object
J_i          object
conf_k       object
term_k       object
J_k          object
dtype: object

In [4]:
df_datos

,Aki(s^-1),fik,S(a.u.),Acc,Ei(Ry),Ek(Ry),conf_i,term_i,J_i,conf_k,term_k,J_k
0,80840000000.0,0.005191,0.0005,AA,0.0,(62.269352431),1s,2S,1/2,6p,2P*,3/2
1,80753000000.0,0.002593,0.00025,AA,0.0,(62.268845398),1s,2S,1/2,6p,2P*,1/2
2,140860000000.0,0.009277,0.000905,AA,0.0,(61.486925375),1s,2S,1/2,5p,2P*,3/2
3,140730000000.0,0.004634,0.000452,AA,0.0,(61.486049174),1s,2S,1/2,5p,2P*,1/2
4,279410000000.0,0.019295,0.001928,AA,0.0,(60.046521369),1s,2S,1/2,4p,2P*,3/2
...,...,...,...,...,...,...,...,...,...,...,...,...
5941,39.2,0.0273,451.0,C+,0.937771,0.938317,2s2.2p3.(4S*).4d,3D*,1.0,2s2.2p3.(4S*).4f,3F,2.0
5942,0.0,0.0,2.4,B+,0.244316,0.244498,2s2.2p3,2D*,5/2,2s2.2p3,2D*,3/2
5943,0.0,0.0,0.000165,E,0.244316,0.244498,2s2.2p3,2D*,5/2,2s2.2p3,2D*,3/2
5944,0.0,0.0,0.00243,E,0.368772,0.36879,2s2.2p3,2P*,3/2,2s2.2p3,2P*,1/2
5945,0.0,0.0,1.33,B,0.368772,0.36879,2s2.2p3,2P*,3/2,2s2.2p3,2P*,1/2

In [5]:
df_datos

,Aki(s^-1),fik,S(a.u.),Acc,Ei(Ry),Ek(Ry),conf_i,term_i,J_i,conf_k,term_k,J_k
0,80840000000.0,0.005191,0.0005,AA,0.0,(62.269352431),1s,2S,1/2,6p,2P*,3/2
1,80753000000.0,0.002593,0.00025,AA,0.0,(62.268845398),1s,2S,1/2,6p,2P*,1/2
2,140860000000.0,0.009277,0.000905,AA,0.0,(61.486925375),1s,2S,1/2,5p,2P*,3/2
3,140730000000.0,0.004634,0.000452,AA,0.0,(61.486049174),1s,2S,1/2,5p,2P*,1/2
4,279410000000.0,0.019295,0.001928,AA,0.0,(60.046521369),1s,2S,1/2,4p,2P*,3/2
...,...,...,...,...,...,...,...,...,...,...,...,...
5941,39.2,0.0273,451.0,C+,0.937771,0.938317,2s2.2p3.(4S*).4d,3D*,1.0,2s2.2p3.(4S*).4f,3F,2.0
5942,0.0,0.0,2.4,B+,0.244316,0.244498,2s2.2p3,2D*,5/2,2s2.2p3,2D*,3/2
5943,0.0,0.0,0.000165,E,0.244316,0.244498,2s2.2p3,2D*,5/2,2s2.2p3,2D*,3/2
5944,0.0,0.0,0.00243,E,0.368772,0.36879,2s2.2p3,2P*,3/2,2s2.2p3,2P*,1/2
5945,0.0,0.0,1.33,B,0.368772,0.36879,2s2.2p3,2P*,3/2,2s2.2p3,2P*,1/2

In [6]:
df_datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5946 entries, 0 to 5945
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Aki(s^-1)  5946 non-null   object
 1   fik        5946 non-null   object
 2   S(a.u.)    5946 non-null   object
 3   Acc        5063 non-null   object
 4   Ei(Ry)     5946 non-null   object
 5   Ek(Ry)     5946 non-null   object
 6   conf_i     5946 non-null   object
 7   term_i     5946 non-null   object
 8   J_i        5946 non-null   object
 9   conf_k     5946 non-null   object
 10  term_k     5946 non-null   object
 11  J_k        5946 non-null   object
dtypes: object(12)
memory usage: 557.6+ KB

In [7]:
df_datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5946 entries, 0 to 5945
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Aki(s^-1)  5946 non-null   object
 1   fik        5946 non-null   object
 2   S(a.u.)    5946 non-null   object
 3   Acc        5063 non-null   object
 4   Ei(Ry)     5946 non-null   object
 5   Ek(Ry)     5946 non-null   object
 6   conf_i     5946 non-null   object
 7   term_i     5946 non-null   object
 8   J_i        5946 non-null   object
 9   conf_k     5946 non-null   object
 10  term_k     5946 non-null   object
 11  J_k        5946 non-null   object
dtypes: object(12)
memory usage: 557.6+ KB

In [8]:
## RECORDATORIO pandas asigna como object a elementos que son str o una cominación de str y float.

In [9]:
type(df_datos['conf_i'][0]), type(df_datos['term_i'][0]), type(df_datos['J_i'][0]), type(df_datos['conf_k'][0]), type(df_datos['term_k'][0]), type(df_datos['J_k'][0])

(str, str, str, str, str, str)

In [10]:
df_datos

,Aki(s^-1),fik,S(a.u.),Acc,Ei(Ry),Ek(Ry),conf_i,term_i,J_i,conf_k,term_k,J_k
0,80840000000.0,0.005191,0.0005,AA,0.0,(62.269352431),1s,2S,1/2,6p,2P*,3/2
1,80753000000.0,0.002593,0.00025,AA,0.0,(62.268845398),1s,2S,1/2,6p,2P*,1/2
2,140860000000.0,0.009277,0.000905,AA,0.0,(61.486925375),1s,2S,1/2,5p,2P*,3/2
3,140730000000.0,0.004634,0.000452,AA,0.0,(61.486049174),1s,2S,1/2,5p,2P*,1/2
4,279410000000.0,0.019295,0.001928,AA,0.0,(60.046521369),1s,2S,1/2,4p,2P*,3/2
...,...,...,...,...,...,...,...,...,...,...,...,...
5941,39.2,0.0273,451.0,C+,0.937771,0.938317,2s2.2p3.(4S*).4d,3D*,1.0,2s2.2p3.(4S*).4f,3F,2.0
5942,0.0,0.0,2.4,B+,0.244316,0.244498,2s2.2p3,2D*,5/2,2s2.2p3,2D*,3/2
5943,0.0,0.0,0.000165,E,0.244316,0.244498,2s2.2p3,2D*,5/2,2s2.2p3,2D*,3/2
5944,0.0,0.0,0.00243,E,0.368772,0.36879,2s2.2p3,2P*,3/2,2s2.2p3,2P*,1/2
5945,0.0,0.0,1.33,B,0.368772,0.36879,2s2.2p3,2P*,3/2,2s2.2p3,2P*,1/2

In [11]:
df_datos = df_datos[ df_datos['term_k'].str.strip() != '']

In [12]:
df_datos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5904 entries, 0 to 5945
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Aki(s^-1)  5904 non-null   object
 1   fik        5904 non-null   object
 2   S(a.u.)    5904 non-null   object
 3   Acc        5063 non-null   object
 4   Ei(Ry)     5904 non-null   object
 5   Ek(Ry)     5904 non-null   object
 6   conf_i     5904 non-null   object
 7   term_i     5904 non-null   object
 8   J_i        5904 non-null   object
 9   conf_k     5904 non-null   object
 10  term_k     5904 non-null   object
 11  J_k        5904 non-null   object
dtypes: object(12)
memory usage: 599.6+ KB

In [13]:
df_datos = df_datos[ df_datos['Aki(s^-1)'].str.strip() != '']

In [14]:
df_datos = df_datos[df_datos['Acc'].notna()]

In [15]:
df_datos['Aki(s^-1)'] = (
        df_datos['Aki(s^-1)']
    .astype(str)
    .str.strip()
    .str.replace(r"[\(\)\[\]]", "", regex=True)  # elimina paréntesis () y corchetes []
    .replace("", np.nan)
    .astype(float)
)

ValueError: could not convert string to float: 'Akis^-1'

In [ ]:
df_datos['fik'] = (
        df_datos['fik']
    .astype(str)
    .str.strip()
    .str.replace(r"[\(\)\[\]]", "", regex=True)  # elimina paréntesis () y corchetes []
    .replace("", np.nan)
    .astype(float)
)

In [ ]:
df_datos['S(a.u.)'] = (
        df_datos['S(a.u.)']
    .astype(str)
    .str.strip()
    .str.replace(r"[\(\)\[\]]", "", regex=True)  # elimina paréntesis () y corchetes []
    .replace("", np.nan)
    .astype(float)
)

In [ ]:
df_datos

In [ ]:
df_datos.info()

In [ ]:
df_datos['Ek(Ry)'] = (
        df_datos["Ek(Ry)"]
    .astype(str)
    .str.strip()
    .str.replace(r"[\(\)\[\]]", "", regex=True)  # elimina paréntesis () y corchetes []
    .replace("", np.nan)
    .astype(float)
)

In [ ]:
df_datos["Ei(Ry)"] = (
    df_datos["Ei(Ry)"]
    .astype(str)
    .str.strip()
    .str.replace(r"[\(\)\[\]]", "", regex=True)  # elimina paréntesis () y corchetes []
    .replace("", np.nan)
    .astype(float)
)

In [ ]:
df_datos

In [ ]:
df_datos.info()

# ====== Código de OutputAE ======

In [ ]:
import pandas as pd

# Encabezados clave exactos
encabezados_clave = [
    "NL =  1  0   S.M.-POTENTIAL V(NL)",
    "GAM ( N,  L,NION, Z,SIG/D/P)",
    "I(R)   R(  A,  B,   C,  D, 2LBD )",
    "ABOVE THE DIAGONAL ARE VELOCITY INTEGRALS",
    "T,2S+1L  P    H(1)/2RY   EIGEN-H/2RY",
    "I         T        K*CM  2S+1 L   CF",
    "E1-DATA  I  IP      A(EK)*SEC",
    "2*RY                 1/CM             Z**4/CM",
    "GAM    N    L    E(NON.REL)",
    "I(R)  I(  A,  C ) =       MASS",
    "LV   T 2J 2S+1L  P      H(1)/2RY",
    "K        LV         T        K*CM",
    "I         T        K*CM  2S+1 L   CF",
    "E1-DATA   K  KP           A(EK)*SEC"
]

# Archivo a leer
archivo = '/Users/admin/Documents/PYTHON_TESIS/autoestructure/O/olg'

# Resultado final: diccionario con clave 'df1', 'df2', etc.
tablas = {}

# Lectura línea por línea
with open(archivo, 'r') as f:
    lineas = f.readlines()

i = 0  # índice de línea
contador = 1  # para df1, df2, etc.

while i < len(lineas):
    linea = lineas[i].strip()
    
    # ¿Es un encabezado de los clave?
    if any(linea.startswith(enc) for enc in encabezados_clave):
        encabezado_original = linea
        i += 1

        # Saltar líneas en blanco
        while i < len(lineas) and not lineas[i].strip():
            i += 1

        # Leer datos hasta encontrar línea vacía
        datos = []
        while i < len(lineas):
            fila = lineas[i].strip()
            if not fila:
                break
            datos.append(fila.split())
            i += 1

        if not datos:
            continue  # Saltar tablas vacías

        # Generar nombres de columnas genéricos: col1, col2, ..., colN
        n_columnas = len(datos[0])
        columnas = [f"col{j+1}" for j in range(n_columnas)]

        # Crear DataFrame con manejo de errores
        try:
            df = pd.DataFrame(datos, columns=columnas if all(len(f) == len(columnas) for f in datos) else None)
        except Exception as e:
            print(f"[⚠️] Error al construir DataFrame df{contador}: {e}")
            df = pd.DataFrame(datos)

        # Guardar en diccionario
        tablas[f'df{contador}'] = (encabezado_original, df)
        contador += 1

    else:
        i += 1  # avanzar a la siguiente línea

print(f"✅ Se detectaron {len(tablas)} tablas.")

In [ ]:
for nombre, (encabezado, df) in tablas.items():
    print("=" * 80)
    print(f"Nombre del DataFrame: {nombre}")
    print(f"Encabezado original: {encabezado}")
    print("\nNombres de columnas:")
    print(df.columns.tolist())

    # Intentar convertir columnas numéricas de forma segura
    for col in df.columns:
        try:
            df[col] = pd.to_numeric(df[col])
        except (ValueError, TypeError):
            continue  # Dejar como está si no se puede convertir

    print("\nPrimeras filas:")
    print(df.head())

    print("\nResumen de columnas:")
    info_df = pd.DataFrame({
        'Tipo de dato': df.dtypes,
        'Nulos': df.isnull().sum(),
        'No nulos': df.notnull().sum(),
        'Valores únicos': df.nunique()
    })
    print(info_df)

In [ ]:
encabezado2, df_datos2 = tablas['df6']
encabezado3, df_datos3 = tablas['df7']

In [ ]:
# Dividir por '=' para quitar la parte del valor numérico al final
parte_columnas = encabezado2.split('=')[0].strip()

# Ahora separar por espacios (múltiples espacios se ignoran con split())
nombres2 = parte_columnas.split()

print(nombres2)

In [ ]:
# Dividir por '=' para quitar la parte del valor numérico al final
parte_columnas = encabezado3.split('=')[0].strip()

# Ahora separar por espacios (múltiples espacios se ignoran con split())
nombres3 = parte_columnas.split()

print(nombres3)

In [ ]:
df_datos2

In [ ]:
print(nombres2)

In [ ]:
nombres2 = nombres2[:-1] #slicing

In [ ]:
print(nombres2)

In [ ]:
df_datos2.columns = nombres2

In [ ]:
df_datos2

In [ ]:
print(nombres3)

In [ ]:
df_datos3

In [ ]:
df_datos3.columns = nombres3

In [ ]:
df_datos3

In [ ]:
df_unido = pd.concat([df_datos2, df_datos3], axis=1)

In [ ]:
df_unido

In [ ]:
df_ultimo = df_unido[['2S+1','L','(EI-E1)/RY','A(EK)*SEC','S']]

In [ ]:
df_ultimo